@colorBrand: #5e6b68;
@colorBgBody: #0c0c0c;
@colorFg: white;
@colorBg: #2e2e2e;
@fontColorHeading: #a1c4bd;

@colorInputBg: #3f3f3f;

@colorLogo: black;
@colorFgBorder: mix(@colorBg, @colorFg, 80);
@colorFgButtonBorder: mix(@colorBg, @colorFg, 70);

@colorFgLink: #69c8ff;
@colorError: #ff363b;
