h2 {
  .currentDate {
    color: @colorFg;
  }
  .searchTerm {
    color: @colorFg;
  }
}

.weekdays.menu.menu-pills {
  .weekday-long, .dayOfMonth {
    display: none;
  }

  > li {
    &:nth-child(7) {
      border-right: 1px solid currentColor;
    }
  }
}
