& {
	padding: 15px;

	@media (min-width: 800px) {
		padding: 30px 50px;
	}

	margin-bottom: 12px;
	background: @colorBg;
	border-radius: 4px;
}

.Denkmal_Form_EventAdd {
	.formField.date, .formField.fromTime {
		display: inline-block;
	}

  .Denkmal_FormField_Time {
    vertical-align: top;
  }

  .formField.fromTime .Denkmal_FormField_Time {
    display: inline-block;
    box-sizing: border-box;
    max-width: 50%;

    padding-left: 10px;
    &:first-child {
      padding-left: 0px;
    }
  }
}

.venueDetails {
	display: none;
}

.thankYou {
	text-align: center;
	display: none;
}
