.Denkmal_Form_EventAdd {
	padding: 15px;
	margin-bottom: 12px;
	background: @colorBgEmphasize1;
	box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.5);
	outline: 2px dashed @colorBgBody;
	outline-offset: -2px;

	.date, .timeframe, .fromTime, .untilTime {
		display: inline-block;
		vertical-align: top;
	}
}

.venueDetails {
	display: none;
}
