.eventDescription {
  position: relative;
  overflow: hidden;
  color: @colorFg;
  font-size: @fontSize - 1px;

  @media (min-width: 360px) {
    font-size: @fontSize;
    margin-top: 3px;
  }

  .time {
    display: block;
    font-size: @fontSizeSmall;

    @media (min-width: 360px) {
      float: right;
      font-size: @fontSize;
    }

    .icon {
      color: fadeout(@colorFgSubtle, 70);
      margin-right: 3px;
    }
  }

  .event-location {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-right: 5px;
    color: @colorFg;
  }

  a.event-location:hover {
    text-decoration: underline;
  }

  .event-details {
    color: @colorFgSubtle;
    font-style: italic;

    .title:after {
      content: ":";
    }

    .title, .description {
      > a {
        color: @colorFgSubtle;
        border-bottom: 1px dotted @colorFgSubtle;

        &:hover {
          color: darken(@colorFgSubtle, 10);
          border-bottom-style: solid;
        }
      }
    }
  }

  @media (min-width: @breakpointMedium) {
    .event-location {
      display: inline;
    }
  }
}
