.menu {
	> li {
		display: block;
		float: left;
		position: relative;
		-webkit-backface-visibility: hidden; // chrome rendering bug

		> a {
			text-decoration: none;
			color: @colorFgTheme;
			opacity: .5;
		}

		&.active {
			> a {
				opacity: 1;
			}

			&:after {
				.triangle(transparent, transparent, @colorBgBody, transparent);
				bottom: 0;
				top: auto;
				left: 50%;
				margin: 0 0 0 -6px;
				.transform(translate3d(0, 0, 0));
				.transition(100ms ease);
			}
		}
	}
}
