.navButton {
  display: block;
  height: @navButtonSize;
  min-width: @navButtonSize;
  line-height: @navButtonSize;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: @colorFgTheme;
}

.indication(@size, @color: @colorBgIndication) {
  display: block;
  height: @size;
  width: @size;
  border-radius: @size * .5;
  background-color: @color;
}
