// Special
@colorBrand: darken(#99cc6b, 10);
@colorNotice: darken(@colorBrand, 30);
@colorBgBody: #333;
@colorFeatured: #eaca0b;
@colorBgButtonHighlight: #ff1493;
@colorNotice: #ff1493;

//Font
@fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontFamilyHeading: @fontFamily;
@fontSize: 14px;

@barSize: 44px;
@sizeButton: @barSize;
