.event {
  display: flex;
  padding: 10px 12px;
  position: relative;

  &.hidden {
    opacity: 0.3;
  }

  &.editEvent {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .event-description {
    flex-grow: 1;

    .venue {
      .venue-link {
        font-weight: bold;

        &.ignored {
          text-decoration: line-through;
        }

        &.suspended {
          opacity: 0.3;
        }
      }

      .date {
        color: @colorFgSubtle;
        font-size: @fontSizeSmall;
      }
    }

    .details {
      .promoted,
      .music {
        color: mix(@colorFg, @colorFgSubtle);
        font-size: .6em;
        margin-left: 1px;
      }
    }
  }

  .event-context {
    display: flex;
    align-items: center;

    .Denkmal_Component_SongPlayerButton .navButton {
      height: 40px;
      min-width: 40px;
      line-height: 40px;
    }
  }
}

.Admin_Component_EventEdit {
  display: none;
}
