.event {
  &.hidden {
    .eventDescription {
      opacity: 0.3;
    }
  }

  &.starred {
    .eventDescription {
      &:before {
        position: absolute;
        content: "";
        top: 0%;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: @colorFeatured;
      }
    }
  }

  .event-location {
    &.ignored {
      text-decoration: line-through;
    }
  }
}

.toggleNext .icon-arrow-right {
  .navButton;
  color: @colorFgSubtle;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -@navButtonSize/2;
  font-size: 15px;
}

.eventDescription {
  padding: 5px @navButtonSize;
  min-height: @navButtonSize;

  .weekday {
    margin-right: 5px;
  }

  .Denkmal_Component_SongPlayerButton {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -@navButtonSize/2;
  }
}

.event-edit {
  display: none;

  .info {
    font-style: italic;
  }

  .songSuggestionList {
    font-size: @fontSizeSmall;

    .songSuggestion {
      display: inline-block;
      margin: 2px;
      padding: 0px 5px;
      border-radius: 3px;
      background-color: fadeout(@colorFgLink, 90);

      &:hover {
        background-color: fadeout(@colorFgLink, 85);
      }
    }
  }
}
