.event {
	.event-content {
		position: relative;

		.title {
			font-weight: bold;
		}

		.editEvent {
			float: right;
		}

		.Denkmal_Component_SongPlayerButton {
			right: 0;
		}
	}

	.event-edit {
		display: none;
	}

	&.hidden {
		.event-content {
			opacity: 0.3;
		}
	}

	&.featured {
		.event-content {
			&:before {
				position: absolute;
				content: "";
				top: 0%;
				left: -1px;
				height: 100%;
				width: 4px;
				background-color: @colorFeatured;
				border-radius: 4px 0 0 4px;
			}
		}
	}
}
