& {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.floatbox & {
  height: 100%;

  .wrapper {
    background-color: @colorBg;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 500px;
  }
}

.floatbox.fullscreen & {
  .wrapper {
    width: 100%;
  }
}

.header {
  position: relative;
  display: block;

  .button-location {
    bottom: 40px;
    right: 10px;
    position: absolute;
  }
}

.event {
  background-color: @colorBg;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.05);
  margin-top: -30px;
  padding-top: 30px;
  position: relative;

  .event-context {
    float: right
  }

  .event-context .date {
    position: absolute;
    right: 13px;
    top: 18px;
  }

  .promoted, .music {
    display: none;
  }
}

.moreList {
  padding: 15px 25px 30px 25px;

  .moreItem {
    position: relative;

    &:not(:last-child) {
      padding-bottom: 10px;
    }

    .moreItem-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
      color: @colorFgSubtle;
    }

    .moreItem-content {
      padding-left: 33px;
      color: @colorFg;

      span {
        border-bottom: 1px dotted @colorFg;
      }
    }
  }
}

.starredInfo {
  color: mix(@colorBg, @colorFg, 40);
  font-size: @fontSizeTiny;
  padding: 4px;
  text-align: right;

  .icon {
    margin-right: 4px;
  }
}
