& {
  .form {
    display: none;
  }

  &.state-active {
    .teaser {
      display: none;
    }
    .form {
      display: block;
    }
  }
}

.teaser {
  margin: 8px;
}

.form {
  border-bottom: 1px solid @colorFgBorderEmphasize2;
  background-color: @colorBg;
  padding: 7px;

  @media (min-width: @breakpointMedium) {
    border: 1px solid @colorFgBorderEmphasize2;
    border-radius: 4px;
    background-color: @colorBg;
    margin: 8px;
  }

  .formField.text {
    display: none;
  }

  &.state-text {
    .formField.text {
      display: block;
    }
  }
}
