& {
  .form {
    display: none;
  }

  &.state-active {
    .teaser {
      display: none;
    }
    .form {
      display: block;
    }
  }
}

.form {

  .formField.text {
    display: none;
  }

  &.state-text {
    .formField.text {
      display: block;
    }
  }
}
