.headerWrapper, #header {
	min-height: @barSize;

	@media (max-width: 489px) {
		min-height: 2*@barSize;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: @colorBgTheme;
	border-bottom: 3px solid @colorBgBody;
}

#middle {
	position: relative;
	max-width: 1200px;
	min-height: 300px;
	padding: 12px;

}
