.preview {
  margin-top: 10px;

  h2 {
    display: inline;
    margin-right: 5px;
  }

  .info {
    font-style: italic;

    &.info-time {
      .day {
        font-weight: bold;
      }
    }
  }
}
