& {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 !important;
  overflow: hidden;
}

.banner {
  display: none;
  padding: 8px;

  @media (min-width: @breakpointSmall) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner-inner {
    position: relative;
    background-color: #ffa7af;
    padding: 15px 10px;

    a {
      display: flex;

      .text {
        flex-grow: 1;
        margin: 0;
        color: @colorFg !important;
        .call-to-action {
          background-image: linear-gradient(to top, #ffff00 25%, transparent 25%);
        }
      }

      .bild {
        img {
          height: 60px;
          opacity: 0.8;
        }
      }
    }

    .button {
      position: absolute;
      right: 0;
      top: 0;
      color: @colorFgTheme;
    }
  }
}

.swipeCarousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.dateList {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);

  .dateList-item {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;

    .scrollable.hideScrollBar {
      position: absolute;
      left: 0;
      top: 0;
      right: -20px;
      height: 100%;
      padding-right: 20px; // hide scrollbar hack
      overflow-y: scroll;
    }
  }
}
