& {
	height: 100%;
	overflow: hidden;
}

.currentDate {
	display: block;
	padding: 2px 5px;
	color: @colorFgShy;
}

.swipeCarousel {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #ff1493;
	background-image: image("pattern.png");
	.box-shadow(inset 0 0 20px 2px rgb(0, 0, 0, .8));
	outline: 2px dashed @colorBgBody;
	outline-offset: -2px;

	.credits {
		position: absolute;
		color: @colorFgTheme;
		left: 15px;
		top: 15px;
		width: 140px;
		text-align: center;

		.separator {
			text-transform: uppercase;
			margin-top: 12px;

			@media (min-height: 600px) {
				margin: 30px 0 8px;
			}
			font-size: @fontSizeSmall;
			opacity: .6;
		}

		.sponsor {
			@media(max-height: 300px) {
				display: none;
			}

			.hire {
				font-style: italic;
			}
		}
	}

	.labels {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 3px;

		@media(max-height: 350px) {
			display: none;
		}
	}

	.logo {
		display: inline-block;
		width: 60px;
		height: 60px;
		background-size: contain;
		background-position: center;

		&.denkmal {
			background-image: image('Denkmal.svg');
		}

		&.cargomedia {
			background-image: image('CargoMedia.svg');
			width: 120px;
			height: 60px;
		}

		&.madeinbasel {
			background-image: image('MadeInBasel.svg');
		}
	}

	&.beforeload {
		.date:not(.active) {
			display: none;
		}
	}
}

.dateList {
	margin-right: 122px;
	position: relative;
	width: 100%;
	height: 100%;
	.transform3d(0, 0, 0);
	background-color: @colorBgBody;
	background-image: image("pattern.png");
	background-size: 20px;
	outline: 2px dashed @colorBgBody;

	&.animate {
		.transition(300ms);
	}

	.date {
		position: relative;
		display: block;
		.box-sizing(border-box);
		float: left;
		width: 100%;
		height: 100%;
		opacity: .6;
		overflow: hidden;
		.transform(translate3d(0, 0, 0));
		-webkit-overflow-scrolling: touch;
		.transition(opacity 400ms 100ms);

		&.active {
			opacity: 1;
		}

		.hideScrollBar {
			position: absolute;
			left: 0;
			top: 0;
			right: -15px;
			height: 100%;
			padding-right: 15px; // hide scrollbar hack
			overflow-y: scroll;
		}
	}
}


