.navButton {
  font-size: 20px;
  color: @colorFgSubtle;

  &:hover {
    color: @colorFg;
  }

  &.disabled {
    opacity: .3;
  }

  &.pauseSong {
    color: @colorFgSubtle;
    font-size: 16px;
    .animation(blink, 1500ms, ease, 0s, infinite);
  }
}

.disabled {
  display: none;
}
