.link {
	position: absolute;
	top: 50%;
	margin-top: -(@sizeButton/2);
	font-size: 26px;
	color: lighten(@colorFgIcon, 30);
	opacity: .3;

	&.disabled {
		opacity: .3;
	}
}

.pauseSong {
	display: none;
}
