
.tagList {

  .tag {
    .button;
    .button-default;
    display: inline-block;

    &.active {
      background: red;
    }
  }
}

.cardinality-info {
  font-size: @fontSizeTiny;
  color: @colorFgSubtle;
  text-align: right;
}
