.messageList {

  > .message {
    position: relative;
    margin-bottom: 25px;
    padding-top: 10px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: @colorFgBorderEmphasize3;
      margin-left: 25px;
      margin-right: 25px;

      @media (min-width: @breakpointSmall) {
        margin-left: 10%;
        margin-right: 10%;
      }
    }

    &:first-child {
      margin-top: 5px;
    }

    .message-actions {
      text-align: right;
    }

    .message-header {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      color: @colorFgSubtle;
      max-width: 70%;
      padding: 0 5px;
      background-color: @colorBgBody;

      .message-venue {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .timeago {
      position: absolute;
      left: 50%;
      top: 6px;
      transform: translateX(-50%);
      padding: 2px 4px;
      font-size: @fontSizeTiny;
      color: lighten(@colorFgSubtle, 20);
    }

    .message-content {
      margin-top: 16px;
      font-style: italic;

      .message-tags {
        text-align: center;

        .tag {
          display: inline-block;
          width: 60px;
          height: 60px;
          margin: 0 5px;
          padding: 12px;
          border: 1px dashed darken(@colorFgBorderEmphasize3, 10);
          border-radius: 50%;
          background: @colorBg;

          @media (min-width: @breakpointMedium) {
            width: 70px;
            height: 70px;
          }
        }
      }

      .message-text {
        padding: 0 15px;
      }

      .message-image {
        padding: 15px;
        text-align: center;

        img {
          box-sizing: border-box;
          max-width: 100%;
          padding: 4px;
          border: 1px solid @colorFgBorderEmphasize2;
          border-radius: 3px;
          background-color: @colorBg;
        }
      }
    }

    .message-user-container {
      display: block;
      text-align: right;
      padding-right: 30px;

      .message-user {
        position: relative;
        font-size: @fontSizeSmall;

        .icon-hipster {
          position: absolute;
          left: 50%;
          top: @fontSizeSmall - 4px;
          transform: translateX(-50%);

          line-height: 1;
        }
      }
    }
  }
}
