.event {
	.box-sizing(border-box);
	min-height: @sizeButton;
	position: relative;
	background-color: @colorBg;
	border: 1px solid @colorBgEmphasize3;
	padding: 7px 0;
	border-radius: 3px;

	&.event-details-open {
		.box-shadow(5px 0 12px rgba(0, 0, 0, .4));
	}

	&.starred{
		&:before {
			position: absolute;
			content: "";
			top: -1px;
			left: -1px;
			bottom: -1px;
			width: 4px;
			background-color: @colorFeatured;
			border-radius: 3px 0 0 3px;
		}
	}
}

.mapButton {
	position: absolute;
	right: 0;
	top: 0;
	color: @colorFgIcon;
	.transition(200ms);

	&:hover {
		color: @colorFg;
		opacity: 1;
	}
}

.event-details-open .mapButton {
	color: @colorFgLink;
	opacity: 1;
}

.event-content {
	position: relative;
	margin: 0  @sizeButton;
	padding: 0 8px;
	border-left: 1px solid @colorFgBorderEmphasize2;
	color: @colorFg;

	@media (min-width: 900px) {
		margin-top: 3px;
	}

	time {
		font-size: @fontSize + 1;
	}

	.time {
		display: block;
		float: right;

		.icon {
			color: fadeout(@colorFgIcon, 70);
			margin-right: 3px;
		}
	}

	.event-location {
		display: block;
		font-weight: bold;
		margin-bottom: 2px;
		margin-right: 5px;
		color: @colorFg;
	}

	a.event-location:hover {
		text-decoration: underline;
	}

	.event-details {
		.title {
			color: darken(@colorFgShy, 15);
			margin-right: 4px;

			&:after {
				content: ":";
			}
		}

		.description {
			color: @colorFgShy;
			font-style: italic;
		}

		.title, .description {
			> a {
				color: @colorFgShy;
				border-bottom: 1px dotted @colorFgShy;

				&:hover {
					border-bottom-style: solid;
				}
			}
		}
	}

	@media (min-width: 900px) {
		.event-location, .event-details {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

