.event {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;

  .event-star {
    flex-shrink: 0;
    padding: 0 10px;
    cursor: pointer;

    .icon {
      color: @colorIconSubtle;
      font-size: 24px;
      position: relative;
      top: -5px;
    }
  }

  .event-description {
    flex-grow: 1;

    .venue {
      font-weight: bold;
    }

    .icon-music {
      color: @colorFgSubtle;
      font-size: .8em;
      margin-left: 4px;
    }
  }

  .event-context {
    flex-shrink: 0;
    padding: 6px 10px 0;
    text-align: right;

    .time {
      display: block;
      font-size: @fontSizeSmall;
    }

    .share {
      color: @colorIconSubtle;
      font-size: 1.2em;
    }
  }
}
