.floatbox & {
  background-color: @colorBg;
  max-width: 100%;
  width: 600px;

  .event {
    background-image: linear-gradient(to top, @colorBg 90%, fadeout(@colorBg, 100));
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: -40px;
  }

  .header,
  .more {
    display: block;
  }
}

.header,
.more {
  display: none;
}

.header {
  position: relative;

  .button-location {
    bottom: 40px;
    right: 10px;
    position: absolute;
  }
}

.more {
  text-align: center;

  .more-links {
    padding-bottom: 10px;
  }

  .more-song {
    border-top: 1px solid @colorFgBorderEmphasize2;
    padding-top: 10px;
    padding-bottom: 10px;

    h4 {
      font-size: .9em;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .more-promoted {
    background-color: mix(@colorBg, @colorFg, 10);
    color: @colorBg;
    font-size: @fontSizeTiny;
    margin-top: 12px;
    padding: 4px;

    .icon {
      font-size: .9em;
      margin-right: 4px;
    }
  }
}
