& {
  padding-top: 10px;
}
.eventList {
  > li {
    @media (min-width: @breakpointMedium) {
      border-bottom: 1px solid @colorFgBorder;
    }
  }
}

.Denkmal_Component_Event {
  cursor: pointer;

  .event .event-context .date {
    display: none;
  }
}

.footer {
  padding: 1em 0;
  text-align: center;

  .button {
    padding: 0 0.6em;
    color: @colorFgSubtle;
  }
}
