& {
  padding: 8px;

  @media (min-width: @breakpointSmall) {
    padding: 8px 20px;
  }
}

.weekday {
  margin-right: 5px;
}

.eventList {
  > li {
    margin-bottom: 3px;
  }
}

@socialFollowSize: 44px;

.socialFollow {
  padding: 10px;
  text-align: center;

  .link {
    display: inline-block;
    width: @socialFollowSize;
    line-height: @socialFollowSize;
    border-radius: 50%;
    font-size: @socialFollowSize - 12px;
    color: lighten(@colorBgBody, 5);
    text-shadow: 0 0 2px darken(@colorBgBody, 15);
  }
}
